{% extends "base_bootstrap.html" %}

{% block navbar %}
{% load app_tags %} <!-- app para tener los gravatar del usuario -->
<nav class="navbar navbar-expand-lg navbar-dark ps-2 shadow" style="background-color: #38515e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home:homepage' %}">
      <span>MULTITRACK DOWNLOADER</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'multitracks:all' %}">Multitracks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'mixes:all' %}">Mix</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'multitracks:mt_create' %}">Create</a>
          </li>
          {% endif %}
        <div class="btn-group">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.get_full_name %}
                <span class="active">{{ user.get_full_name }}</span>
              {% else %}
                <span class="active">{{ user.username }}</span>
              {% endif %}
              {% if user.socialuser %}
                <img class="rounded-circle border border-light mx-1" style="width: 20px;" src="{{ user.socialuser.avatar_url }}">
              {% else %}
                <img class="rounded-circle border border-light" style="width: 20px;" src="{{ user|gravatar:70 }}">
              {% endif %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="{% url 'mixes:mix_create' %}">Upload Mix</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
              </li>
            </ul>
          </li>
        </div>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}?next={{ request.path }}">
              Login
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 20 20">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}