{% extends "base_bootstrap.html" %}

{% block navbar %}
{% load app_tags %} <!-- app para tener los gravatar del usuario -->
<nav class="navbar navbar-expand-lg navbar-dark ps-2 shadow" style="background-color: #38515e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home:homepage' %}">
      <span>MULTITRACK DOWNLOADER</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Uploads</a>
        </li>
        <div class="btn-group">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="active">{{ user.username }}</span>
              {% if user|gravatar %}
                <img class="rounded-circle border border-light" style="width: 20px;" src="{{ user|gravatar:70 }}">
              {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              {% endif %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}?next={% url 'home:homepage' %}">Logout</a>
              </li>
            </ul>
          </li>
        </div>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}?next={% url 'home:homepage' %}">
              Login
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 20 20">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}