db.sqlite3
.DS_Store
.vscode
dj4eProject/google_settings.py
dj4eProject/__pycache__/google_settings.cpython-37.pyc
dj4eProject/__pycache__/settings.cpython-37.pyc
home/static/home/node_modules
home/static/home/sass/custom.scss
home/static/home/sass/reducido.css
package-lock.json
package.json
media/