{% extends "base_menu.html" %}
{% load static %}
{% block head %}
    <style>
        body {
            overflow: auto !important;
        }
    </style>
{% endblock %}

{% block content %}
<div class="py-3 border-bottom border-2" id="welcome">
    <div class="container">
        <div class="row row-cols-1 g-2 g-lg-3">
            <div class="col d-flex justify-content-center">
                <div class="pb-3">
                    <h1>Multitrack List</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- <p class="text-center fs-5">Search all multitracks by genre or band <em>(soon!)</em></p> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="row">
                    <div class="col-3 text-start">
                        <button type="button" class="btn btn-dark shadow" id="buttonCollapse" onclick="collapseAll()">Collapse All</button>
                    </div>
                    <div class="col-6 text-start">
                        <div class="btn-group">
                            <button id="btnDropGenre" type="button" class="btn btn-dark dropdown-toggle shadow" data-bs-toggle="dropdown" aria-expanded="false">
                              Show
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnDropGenre">
                                <li>
                                    <a class="dropdown-item" id="show-All" onclick="showAll()">
                                        All
                                    </a>
                                </li>
                                {% for genre in genre_list %}
                                    <li>
                                        <a class="dropdown-item" id="show-{{ genre.name }}" onclick="showGenre({{ forloop.counter0 }})">
                                            {{ genre.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-sm-12 text-center" style="background-color: cornsilk;">
                <button type="button" class="btn">Search</button>
            </div> -->
        </div>
    </div>
    </div>
</div>
<div class="container py-5 mb-5">
    {% for mt_set in mt_list %}
        {% if mt_set %}
            <div class="card card-body mb-2 card-genre shadow card-genre">
                <div class="container">
                    <p class="h3" id="#title-genre">
                        <button class="btn btn-outline-dark btn-genre collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genre-{{mt_set.0.genre.id}}" aria-expanded="false" aria-controls="collapseExample" style="border: 0px;">
                            <i class="fas fa-chevron-down"></i>
                        </button>{{ mt_set.0.genre }}<span class="fs-6 text-muted"> ({{ mt_set|length }} multitracks)</span>
                    </p> 
                </div>
                <div class="collapse row justify-content-center" id="genre-{{mt_set.0.genre.id}}">
                    {% for mt in mt_set %}
                        <div class="col-lg-5 col-sm-10 m-2 px-0 card shadow card-multitack">
                            <div class="card-header">
                                <h4 class="card-title">{{ mt.band }}
                                </h4>
                                <h6 class="card-subtitle text-muted">{{ mt.genre }}</h6>
                            </div>
                            <div class="card-body">
                                <audio class="w-100">
                                    <source src="{{ mt.preview.url }}" type="audio/mp3">
                                </audio>
                                <p class="h3">
                                    <strong>{{ mt.title }}</strong>
                                    {% if user.is_authenticated %}
                                        <a href="#" onclick="favMt('{% url 'multitracks:mt_unfavorite' mt.id %}', {{ mt.id }}); return false;"
                                        {% if mt.id not in favorites %} style="display: none;" {% endif %} id="favorite_star_{{ mt.id }}">
                                            <span class="fa-stack fa-1x mb-1 fs-5">
                                                <i class="fas fa-star fa-stack-1x" style="color: orange;"></i>
                                                <i class="far fa-star fa-stack-1x"></i>
                                            </span>
                                        </a>
                                        <a href="#" onclick="favMt('{% url 'multitracks:mt_favorite' mt.id %}', {{ mt.id }}); return false;"
                                        {% if mt.id in favorites %} style="display: none;" {% endif %} id="unfavorite_star_{{ mt.id }}">
                                            <span class="fa-stack fa-1x mb-1 fs-5">
                                                <i class="fas fa-star fa-stack-1x" style="display: none; color: orange;"></i>
                                                <i class="far fa-star fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    {% endif %}
                                <p>
                                <p class="card-text">
                                    Preview <i class="far fa-play-circle fs-6 icon-player"></i> |
                                    Multitrack <strong>{{ mt.number_channels }} tracks</strong> ({{ mt.file_size }})
                                    <a href="{{ mt.file_zip.url }}" download><i class="far fa-arrow-alt-circle-down fs-6"></i></a>
                                </p>
                                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#description-{{mt.id}}" aria-expanded="false" aria-controls="collapseExample">Info</button>
                                <div class="collapse" id="description-{{mt.id}}">
                                    <br>
                                    <p class="text-muted">{{ mt.description }}</p>
                                    <p class="card-text">Contact the artist <a href="{{ mt.band.contact }}" target="_blank">here</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div id="#msg"></div>
<script type="text/javascript" src="{% static 'home/javascript/mt-list-player.js' %}"></script>
<script type="text/javascript" src="{% static 'home/javascript/mt-list-collapse.js' %}"></script>
<script type="text/javascript">
    function showAll() {
        for (button of buttons) {
            if (button.className.split(' ').length == 4) {
                button.click();
            }
        }
    }
    function collapseAll() {
        for (button of buttons) {
            if (button.className.split(' ').length == 3) {
                button.click();
            }
        }
    }
    function showGenre(n) {
        for (i in buttons) {
            if (i == n) {
                if (buttons[n].className.split(' ').length == 4) {
                    buttons[n].click();
                }
            } else {
                if (buttons[i].className.split(' ').length == 3) {
                    buttons[i].click();
                }
            }
        }
    }
    function favMt(url, mt_id) {
        console.log('mt_id');
        $.post(url, {},  function(rowz){
            console.log(url, 'finished');
            $("#unfavorite_star_"+mt_id).toggle();
            $("#favorite_star_"+mt_id).toggle();
        }).fail(function(xhr) {
            alert('Url failed with '+xhr.status+' '+url);
        });
    }
</script>
{% endblock %}