{% extends "base_menu.html" %}
{% load static %}
{% block head %}
    <style>
        body {
            overflow: auto !important;
        }
    </style>
{% endblock %}

{% block content %}
<div class="py-3 border-bottom border-2" id="welcome">
    <div class="container">
        <div class="row row-cols-1 g-2 g-lg-3">
            <div class="col d-flex justify-content-center">
                <div class="pb-3">
                    <h1>Multitrack List</h1>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center fs-5">Search all multitracks by genre or band <em>(soon!)</em></p>
</div>
<div class="container py-5 mb-5">
    {% for mt_set in mt_list %}
        {% if mt_set %}
            <div class="card card-body mb-2 card-genre shadow card-genre">
                <div class="container">
                    <p class="h3" id="#title-genre">
                        <button class="btn btn-outline-dark btn-genre" type="button" data-bs-toggle="collapse" data-bs-target="#genre-{{mt_set.0.genre.id}}" aria-expanded="false" aria-controls="collapseExample" style="border: 0px;">
                            <i class="fas fa-chevron-down"></i>
                        </button> {{ mt_set.0.genre }} <span class="fs-6 text-muted">({{ mt_set|length}} multitracks)</span>
                    </p> 
                </div>
                <div class="collapse row justify-content-center" id="genre-{{mt_set.0.genre.id}}">
                    {% for mt in mt_set %}
                        <div class="col-lg-5 col-sm-10 m-2 px-0 card shadow card-multitack">
                            <div class="card-header">
                                <h4 class="card-title">{{ mt.band }}</h4>
                                <h6 class="card-subtitle text-muted">{{ mt.genre }}</h6>
                            </div>
                            <div class="card-body">
                                <audio class="w-100">
                                    <source src="{{ mt.preview.url }}" type="audio/mp3">
                                </audio>
                                <p class="h3">
                                    <strong>{{ mt.title }}</strong>
                                <p>
                                <p class="card-text">
                                    Preview <i class="far fa-play-circle fs-6 icon-player"></i> |
                                    Multitrack <strong>{{ mt.number_channels }} tracks</strong> ({{ mt.file_size }})
                                    <a href="{{ mt.file_zip.url }}" download><i class="far fa-arrow-alt-circle-down fs-6"></i></a>
                                </p>
                                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#description-{{mt.id}}" aria-expanded="false" aria-controls="collapseExample">Info</button>
                                <div class="collapse" id="description-{{mt.id}}">
                                    <br>
                                    <p class="text-muted">{{ mt.description }}</p>
                                    <p class="card-text">Contact the artist <a href="{{ mt.band.contact }}" target="_blank">here</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script src="{% static 'home/javascript/mt-list-player.js' %}"></script>
<script src="{% static 'home/javascript/mt-list-collapse.js' %}"></script>
{% endblock %}