{% extends "base_menu.html" %}
{% load static %}
{% block head %}
    <style>
        body {
            overflow: auto !important;
        }
    </style>
{% endblock %}

{% block content %}
<div class="py-3 border-bottom border-2" id="welcome">
    <div class="container">
        <div class="row row-cols-1 g-2 g-lg-3">
            <div class="col d-flex justify-content-center">
                <div class="pb-3">
                    <h1>Multitrack List</h1>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center fs-5">Search all multitracks by genre or band <em>(soon!)</em></p>
</div>
<div class="container py-5 mb-5">
    <div class="row justify-content-center">
        {% for mt in mt_list %}
            <div class="col-lg-5 m-2 px-0 card shadow card-multitack">
                <div class="card-header">
                    <h5 class="card-title">{{ mt.band }} - {{ mt.title }}</h5>
                    <h6 class="card-subtitle text-muted">{{ mt.genre }}</h6>
                </div>
                <div class="card-body">
                    <audio class="w-100">
                        <source src="{{ mt.preview.url }}" type="audio/mp3">
                    </audio>
                    <p >
                        Preview: <i class="far fa-play-circle fs-5"></i>
                    </p>
                    <p class="card-text">{{ mt.number_channels }} tracks</p>
                    <p class="card-text">Contact the artist <a href="{{ mt.band.contact }}" target="_blank">here</a></p>
                    <p class="card-text">{{ mt.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script src="{% static 'home/javascript/script.js' %}"></script>
{% endblock %}