{% extends "base_menu.html" %}

{% block content %}
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if not user.is_authenticated %}
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <div class="card card shadow">
                <div class="card-header text-center" style="background-color:#38515e;">
                    <h1 class="text-white">Log In</h1>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="container">
                            <div class="form-floating my-3">
                                <input type="text" class="form-control" placeholder="Enter username" id="id_username" name="username">
                                <label for="id_username">Username</label>
                            </div>
                            <div class="form-floating my-3">
                                <input type="password" class="form-control" placeholder="Password" id="id_password" name="password">
                                <label for="id_password">Password</label>
                            </div>
                        </div>
                        <div class="container">
                            <input type="submit" class="w-100 btn btn-lg btn-primary fs-6"  value="Login" />
                            <input type="hidden" name="next" value="{{ next }}" />   
                        </div>
                    </form>
                    {% if settings.SOCIAL_AUTH_GOOGLE_OAUTH2_KEY %}
                    <div class="container">
                        <hr class="featurette-divider">
                    </div>
                    <div class="container">
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}">
                            <button type="submit" class="g-signin2 w-100 btn btn-lg btn-primary fs-6" id="google-login" data-onsuccess="onSignIn"><i class="fab fa-google me-2"></i>Login with Google</i></button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="card card shadow">
                    <div class="card-header text-center" style="background-color:#38515e;">
                        <h1 class="text-white">Log Out</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <div class="container">
                            </div>
                            <div class="container">
                                <input type="submit" class="w-100 btn btn-lg btn-primary fs-6"  value="Logout" />
                                <input type="hidden" name="next" value="{{ next }}" />   
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}