{% extends "base_menu.html" %}

{% block head %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  
  <!-- Custom styles for this template -->
  <link href="signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<!-- <div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h1>Please Sign in</h1>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="input-group form-group">
						<input type="text" class="form-control" placeholder="username" id="id_username" name="username">
					</div>
					<div class="input-group form-group">
                        <input type="password" class="form-control" placeholder="password" id="id_password" name="password">
					</div>
                    <input type="submit" class="w-100 btn btn-lg btn-primary"  value="Login" />
                    <input type="hidden" name="next" value="{{ next }}" />   
                </form>
            </div>
        </div>
    </div>
</div> -->

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-header text-center">
                <h1>Please Sign in</h1>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group p-2">
                        <label for="id_username">Username</label>
                        <input type="text" class="form-control" placeholder="Enter username" id="id_username" name="username">
                    </div>
                    <div class="form-group p-2">
                        <label for="id_password">Password</label>
                        <input type="password" class="form-control" placeholder="Password" id="id_password" name="password">
                    </div>
                    <div class="p-2">
                        <input type="submit" class="w-100 btn btn-lg btn-primary"  value="Login" />
                        <input type="hidden" name="next" value="{{ next }}" />   
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}